{% include 'header.html' %}

<aside class="cont">
<main class="form-signin w-50 m-auto">
  <form action="{{ url_for('add_coll') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">إضافة كلية</h1>

      <label class="lab">اسم الكلية</label>
    <div class="form-floating">
      <input type="text" autocomplete="off" class="form-control" name="cName" id="floatingInput" placeholder="اسم الكلية" required>
      <label for="floatingInput">اسم الكلية</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">إضافة</button>
  </form>
        <article class="data">
        {% if all_colls != [] %}
            <h2>الكليات</h2>
        <table class="tdata">
            <th>
            Id
            </th>
            <th>
                اسم الكلية
            </th>
        {% for c in all_colls %}
            <tr>
                <td>{{ c.coll_id }}</td>
            <td>{{ c.coll_name }}</td>
            </tr>
        {% endfor %}
            </table>
    {% endif %}
    </article>
</main>

</aside>
{% include 'footer.html' %}