{% include 'header.html' %}

<aside class="cont">
<main class="form-signin w-50 m-auto">
  <form action="{{ url_for('add_sub') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">إضافة مادة</h1>

      <label class="lab">اسم التخصص</label>
      <div class="form-floating">
      <select name="mName" class="form-control" id="floatingType">
          {% for m in all_majors %}
          <option>{{ m.maj_name }}</option>
          {% endfor %}
      </select>
    </div>
  <label class="lab">اسم المادة</label>
    <div class="form-floating">
      <input type="text" autocomplete="off" class="form-control" name="sName" id="floatingInput" placeholder="اسم المادة" required>
      <label for="floatingInput">اسم المادة</label>
    </div>
  <label class="lab">المستوى</label>
    <div class="form-floating">
         <select name="lName" class="form-control" id="floatingType">
          <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
      </select>
    </div>
<label class="lab te">الترم</label>
   <div class="form-floating">
       <div class="term-r">
      1<input type="radio" name="tName" class="term-r " id="t1" required value="1">

       2<input type="radio" name="tName" id="t2" class="term-r" required value="2" checked>
       </div>

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">إضافة</button>
  </form>
        <article class="data">
        {% if all_subs != [] %}
            <h2>المواد</h2>
        <table class="tdata">
            <th>
            Id
            </th>
            <th>
                التخصص
            </th>
          <th>
                اسم المادة
            </th>
         <th>
             المستوى
            </th>
         <th>
                الترم
            </th>
        <tr>
        {% for s in all_subs %}
                <td>{{ s.sub_id }}</td>
                {% for m in all_majors %}
                    {% if m.major_id == s.maj %}
                    <td>{{ m.maj_name}}</td>
                    {% endif %}
                    {% endfor %}
            <td>{{ s.sub_name }}</td>
            <td>{{ s.level }}</td>
            <td>{{ s.term }}</td>
            </tr>
        {% endfor %}
            </table>
    {% endif %}
    </article>
</main>

</aside>
{% include 'footer.html' %}